{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static "img/bear.png" %}">
    <script defer src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>ЕВРика</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3b8bd7;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/Asset_1_1_2x.png' %}" width="140" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Глаголы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Поиск</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'articles' %}">Сборник <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="navbar2" class="navbar navbar-light bg-light sticky-top">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#heading">О сборнике</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#articles">Статьи</a>
            </li>
        </ul>
    </nav>
    <div data-spy="scroll" data-target="#navbar2" data-offset="0">
        <div id="heading" class="container card">
            <a class="card-body pb-2">
                <div class="h3 card-title my-2 text-center">ЕВРика: сборник статей о поисках и находках к юбилею <b>Е.В. Р</b>ахилиной</div>
                <img src="{% static 'img/Cover_rakhilinafest.png' %}" class="rounded mx-auto d-block my-4" height="400" alt="...">
                <p class="biblio font-weight-light">ЕВРика! Сборник статей о поисках и находках к юбилею Е. В. Рахилиной / Под ред. Д. А. Рыжовой, Н. Р. Добрушиной, А. А. Бонч-Осмоловской, А. С. Выренковой, М. В. Кюсевой, Б. В. Орехова, Т. И. Резниковой. — М.: Лабиринт, 2018. — 392 с.</p>
                <p class="text-justify">В сборнике на материале свыше 20 языков рассматриваются различные аспекты лингвистического поведения глаголов с семантикой ‘искать’ и ‘находить’.
                В фокусе внимания оказываются прежде всего принципы лексикализации исследуемых зон: обсуждается, какие типы поисков и находок могут
                лексически противопоставляться в том или ином языке. Предметом анализа
                становятся также синтактико-грамматические свойства изучаемых глаголов
                и пути их диахронической эволюции. Специальный раздел книги посвящен
                возможностям использования корпусов в лексико-типологических исследованиях. Книга адресована специалистам по семантике, типологии и всем, кто
                интересуется лингвистикой.</p>
                <ul id="contents" class="list-group">
                    <a href="{% static 'files/Титул и оборот.pdf' %}" class="list-group-item list-group-item-action rounded"><h6>Титул и оборот</h6></a>
                    <a href="{% static 'files/Предисловие.pdf' %}" class="list-group-item list-group-item-action rounded"><h6>Предисловие</h6></a>
                    <a href="{% static 'files/Содержание.pdf' %}" class="list-group-item list-group-item-action rounded"><h6>Содержание</h6></a>
                </ul>
                <p id="articles">
                <div class="container text-center heading-l"><h4>1. ПОИСКИ и НАХОДКИ в языках мира</h4>
                    <h5>Индоевропейские языки</h5></div>
                    <a href="{% static 'files/Рыжова и Станкович.pdf' %}" class="list-group-item list-group-item-action"><h6>Д. А. Рыжова, М. Станкович </h6> К проблеме внутригенетической типологии: поля ‘искать’ и ‘находить’ в русском и сербском языках</a>
                    <a href="{% static 'files/Апресян.pdf' %}" class="list-group-item list-group-item-action"><h6>В. Ю. Апресян</h6> Почему ‘искать’ иногда значит ‘находить’, а ‘находить’ иногда значит ‘искать’?</a>
                    <a href="{% static 'files/Орехов.pdf' %}" class="list-group-item list-group-item-action"><h6>Б. В. Орехов </h6> Глаголы со значением ‘искать’ и ‘находить’ в исландском языке</a>
                <div class="container text-center heading-s"><h5>Кавказские языки</h5></div>
                    <a href="{% static 'files/Ландер и Багирокова.pdf' %}" class="list-group-item list-group-item-action"><h6>Ю. А. Ландер, И. Г. Багирокова </h6> Лексические и грамматические характеристики специализированных глаголов поиска и нахождения в адыгейском языке</a>
                    <a href="{% static 'files/Мороз и Романова.pdf' %}" class="list-group-item list-group-item-action"><h6>Г. А. Мороз, К. И. Романова </h6> <i>Искать</i> и <i>найти</i> в абазинском</a>
                    <a href="{% static 'files/Резникова и Мерданова.pdf' %}" class="list-group-item list-group-item-action"><h6>Т. И. Резникова, С. Р. Мерданова</h6> <i>В поход за находками</i>: глаголы ‘искать’ и ‘находить’ в агульском языке</a>
                    <a href="{% static 'files/Майсак и Даниэль.pdf' %}" class="list-group-item list-group-item-action"><h6>Т. А. Майсак, М. А. Даниэль</h6> Черная кошка грамматикализации: конструкции с глаголом ‘найти’ в дагестанских языках</a>
                <div class="container text-center heading-s"><h5>Большие языки Дальнего Востока</h5></div>
                    <a href="{% static 'files/Холкина.pdf' %}" class="list-group-item list-group-item-action"><h6>Л. С. Холкина, Л. О. Наний, Цян Сы </h6> Семантическое поле ИСКАТЬ-НАХОДИТЬ в китайском языке</a>
                    <a href="{% static 'files/Панина.pdf' %}" class="list-group-item list-group-item-action"><h6>А. С. Панина</h6> Глаголы поиска и находки в японском языке</a>
                    <a href="{% static 'files/Гусев.pdf' %}" class="list-group-item list-group-item-action"><h6>В. Ю. Гусев</h6>«Найти» и «искать» в нганасанском языке и в русском языке нганасан</a>
                    <a href="{% static 'files/Стойнова.pdf' %}" class="list-group-item list-group-item-action"><h6>Н. М. Стойнова </h6> Глаголы ‘искать’ и ‘находить’ и их дериваты в диалектах нанайского и ульчского языков</a>
                <div class="container text-center heading-s"><h5>Австралийские языки</h5></div>
                    <a href="{% static 'files/Кюсева и Капитонов.pdf' %}" class="list-group-item list-group-item-action"><h6>Мария Кюсева, Иван Капитонов</h6> <i>Yawanj</i> и <i>rnanj</i>: поиски в кунбарланге</a>
                <div class="container text-center heading-l"><h4>2. ПОИСКИ и НАХОДКИ в русской грамматике</h4></div>
                    <a href="{% static 'files/Добрушина.pdf' %}" class="list-group-item list-group-item-action"><h6>Н. Р. Добрушина</h6>Глагол <i>искать</i> и сослагательное наклонение в относительных придаточных</a>
                    <a href="{% static 'files/Кривко и Литвинцева.pdf' %}" class="list-group-item list-group-item-action"><h6>Р. Н. Кривко, К. В. Литвинцева</h6><i>Искать</i> → <i>стараться</i>, <i>хотеть</i>: конструкции, типология, источники</a>
                    <a href="{% static 'files/Зевахина.pdf' %}" class="list-group-item list-group-item-action"><h6>Н. А. Зевахина</h6>Конструкция <i>нашел чем удивить!</i></a>
                <div class="container text-center heading-l"><h4>3. ПОИСКИ и НАХОДКИ в корпусах</h4></div>
                    <a href="{% static 'files/Бонч-Осмоловская и Нестеренко.pdf' %}" class="list-group-item list-group-item-action"><h6>А. А. Бонч-Осмоловская, Л. В. Нестеренко</h6> Сети как инструмент поиска и находок в мультиязычных параллельных корпусах</a>
                    <a href="{% static 'files/Иткин.pdf' %}" class="list-group-item list-group-item-action"><h6>И. Б. Иткин </h6> Czy możemy odnaleźć najlepsze tłumaczenie?</a>
                    <a href="{% static 'files/Власова и Выренкова.pdf' %}" class="list-group-item list-group-item-action"><h6>Е. А. Власова, А. С. Выренкова </h6> Интересная находка: о перспективах использования учебного корпуса переводов</a>
                <div class="container text-center heading-l"><h4>4. ПОИСКИ и ОТКРЫТИЯ</h4></div>
                    <a href="{% static 'files/Кашкин и др.pdf' %}" class="list-group-item list-group-item-action"><h6>Е. В. Кашкин, Д. О. Жорник, М. А. Сидорова, О. И. Виноградова </h6> Навстречу открытиям: русские глаголы открывания в типологической перспективе</a>
            </a>
        </div>
    </div>
    <footer class="footer sticky-bottom mt-5"></footer>
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
