{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/bear.png' %}">
    <script defer src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>ЕВРика</title>
</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #3b8bd7;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/Asset_1_1_2x.png' %}" width="140" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Глаголы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles' %}">Сборник</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 mt-5 mr-auto">
                <ul class="list-group">
                    {% for f in field_list %}
                    <a href="{% url 'semanticfield' f.id %}" class="h4 text-center list-group-item py-3">{{ f }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6 jumbotron mt-5">
                <h1>ЕВРика</h1>
                <p class="lead">База данных глаголов поиска и находки</p>
                <a class="btn btn-lg btn-primary" href="{% url 'search' %}" role="button">Поиск &raquo;</a>
            </div>
        </div>
    </div>
    <footer class="footer sticky-bottom mt-5"></footer>
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
