{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>ЕВРика</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <!--       нужна ссылка на главную -->
    <a class="navbar-brand display-1" href="{% url 'index' %}">ЕВРика</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Глаголы</a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="{% url 'search' %}">Поиск <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'articles' %}">Статьи</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О проекте</a>
            </li>
        </ul>
    </div>
</nav>
<div id="search-instruction" class="container">
    <div id="search-instruction-card" class="card">
        <div class="card-body">
            <h4>Поиск</h4>
            <h5>Как искать</h5>
            <ul>
            <li>Все поля, кроме поля "Пример" - это поля для множественного выбора.</li>
            <li>Везде, кроме поля "Глагол", опции объединяются через логический оператор ИЛИ. Например, если в "Одушевленности объекта" поставить галочки на "одушевленный" и "неодушевленный", найдутся все контексты, где стоит метка одушевленного или неодушевленного объекта. </li>
            <li>Для поля "Глагол" можно выбрать логический оператор, через который объединять несколько выбранных значений (поле "Отношение между несколькими выбранными глаголами"). По умолчанию стоит опция AND, что значит, что при выборе, например, одновременно глаголов "найти" и "поискать", будут выведены только те контексты, где могут употребляться оба этих глагола. При выборе этих глаголов с оператором OR в результатах будут контексты, где употребляется "найти" или "поискать" или оба.</li>
            <li>В полях, где дан список значений, несколько значений можно выбрать, зажав клавишу Ctrl и кликая на необходимые опции.</li>
            </ul>
        </div>
    </div>
    <table>
    <form>
    <tr>
    <td rowspan="2">
        <div class="col form-group">
            <div class="container">
                <h6>{{form.semfield.label}}</h6>
            </div>
            {{form.semfield}}
        </div>
    </td>
    <td rowspan="2">
        <div class="col form-group">
            <div class="container">
                <h6>{{form.verb.label}}</h6>
            </div>
            {{form.verb}}
        </div>
    </td>
    <td>
        <div class="col form-group offset-2">
            <div class="container">
                <h6>{{form.verb_conj.label}}</h6>
            </div>
            {% for elem in form.verb_conj %}
            <div class="form-check offset-2">
                {{elem.tag}}
                <label class="form-check-label" for="{{elem.id_for_label}}">
                    {{elem.choice_label}}
                </label>
            </div>
            {% endfor %}
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <div class="col form-group offset-3">
            <div class="container">
                <h6>{{form.language.label}}</h6>
            </div>
            {{form.language}}
        </div>
    </td>
    </tr>
    <tr>
    <td rowspan="2">
        <div class="col form-group">
            <div class="container">
                <h6>{{form.meaning.label}}</h6>
            </div>
            {{form.meaning}}
        </div>
    </td>
    <td>
        <div class="col form-check">
            <div class="container">
                <h6>{{form.meaning_type.label}}</h6>
            </div>
            {% for elem in form.meaning_type %}
            <div class="form-check">
                {{elem.tag}}
                <label class="form-check-label" for="{{elem.id_for_label}}">
                    {{elem.choice_label}}
                </label>
            </div>
            {% endfor %}
        </div>
    </td>
    <td>
        <div class="col form-check">
            <div class="container">
                <h6>{{form.object_ref.label}}</h6>
            </div>
            {% for elem in form.object_ref %}
            <div class="form-check">
                {{elem.tag}}
                <label class="form-check-label" for="{{elem.id_for_label}}">
                    {{elem.choice_label}}
                </label>
            </div>
            {% endfor %}
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <div class="col form-check">
            <div class="container">
                <h6>{{form.object_animacy.label}}</h6>
            </div>
            {% for elem in form.object_animacy %}
            <div class="form-check">
                {{elem.tag}}
                <label class="form-check-label" for="{{elem.id_for_label}}">
                    {{elem.choice_label}}
                </label>
            </div>
            {% endfor %}
        </div>
    </td>
    <td>
        <div class="col form-check">
            <div class="container">
                <h6>{{form.purpose.label}}</h6>
            </div>
            {% for elem in form.purpose %}
            <div class="form-check">
                {{elem.tag}}
                <label class="form-check-label" for="{{elem.id_for_label}}">
                    {{elem.choice_label}}
                </label>
            </div>
            {% endfor %}
        </div>
    </td>
    </tr>
    <tr>
    <td colspan="3">
        <div class="form-group">
            <label for="{{form.example.id_for_label}}"><h6>{{form.example.label}}</h6></label>
            {{form.example}}
        </div>
    </td>
    </tr>
    <tr><td><input type="submit" class="btn btn-primary " value="Искать" /></td></tr>
    </form>
    </table>
</div>

<footer class="footer sticky-bottom">
    <div class="row justify-content-center">
        <a href="{% url 'admin:index' %}" class="btn btn-outline-dark border-0 rounded-0" role="button">Вход для редакторов</a>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
