body {
    font-size: 15px;
    color: #555;
    margin-bottom: 50px;

    --webkit-font-smoothing: antialised;
    --webkit-overflow-scrolling: touch;
}

a {
    color: darkslategrey;
}

a:hover, a:focus{
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

[size='md'] {
    height: 150px;
    width: 200px;
}
[size='big'] {
    height: 400px;
    width: 300px;
}

.navbar-dark{
    font-size: 20px;
}

.table-font{
    font-size: 12px;
}

.table-font-lg{
    font-size: 16px;
}

.heading-l{
    margin: 40px auto 30px auto;
}

.heading-s{
    margin: 30px auto 20px auto;
}

.biblio{
    font-size: larger;
}


